<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
			rel="stylesheet" />
		<link rel="stylesheet" href="css/main-style.css" />
		<link rel="stylesheet" href="css/sidebar-style.css" />
		<link rel="stylesheet" href="css/<%= style %>" />
		<title><%= title %></title>
	</head>
	<body>
		<div class="main-container">
			<div class="sidebar-container"><%- include('sidebar') %></div>
			<div class="content-container"><%- body %></div>
		</div>
		<script src="js/sidebar-script.js"></script>
		<script src="js/<%= script %>"></script>
	</body>
</html>
