<div class="navigation">
	<ul>
		<li>
			<a href="#">
				<span class="title">RETAIL STORE</span>
			</a>
		</li>
		<li class="<%= active === 'dashboard' ? 'active' : '' %>">
			<a href="/dashboard">
				<span class="icon-sidebar">
					<i class="bx bx-home-alt"></i>
				</span>
				<span class="title">Dashboard</span>
			</a>
		</li>
		<li class="<%= active === 'table' ? 'active' : '' %>">
			<a href="/table">
				<span class="icon-sidebar">
					<i class="bx bx-table"></i>
				</span>
				<span class="title">Table</span>
			</a>
		</li>
		<li class="<%= active === 'bar-chart' ? 'active' : '' %>">
			<a href="/bar-chart">
				<span class="icon-sidebar">
					<i class="bx bx-bar-chart-alt-2"></i>
				</span>
				<span class="title">Bar Chart</span>
			</a>
		</li>
		<li class="<%= active === 'scatter-plot' ? 'active' : '' %>">
			<a href="scatter-plot">
				<span class="icon-sidebar">
					<i class="bx bx-scatter-chart"></i>
				</span>
				<span class="title">Scatter Plot</span>
			</a>
		</li>
		<li class="<%= active === 'import-data' ? 'active' : '' %>">
			<a href="/import-data">
				<span class="icon-sidebar">
					<i class="bx bx-import"></i>
				</span>
				<span class="title">Import Data</span>
			</a>
		</li>
	</ul>
</div>
